#Board {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    width: 536px;
    height: 525px;
    background-color: red;
    padding: 0;
}

#cellsBlock {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 175px;
    height: 175px;
    /* border: 1px solid black; */
}

.Cell {
    text-align: center;
    box-sizing: border-box;
    outline: none;
    width: 58px;
    height: 58px; 
    margin: 0;
    /* font-size: 1.8vw; */
    /* border: 1px solid black; */
}

.Cell:focus {
    border: 1px solid black;
    background-color: rgb(193, 193, 193);
}

.Cell:hover {
    background-color: rgb(193, 193, 193);
}

