.Flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Flex-row {
  flex-direction: row;
}

.Flex-col {
  flex-direction: column;
}

.Main-section {
  min-height: 100vh;
}

.Main-header {
  color: white;
}